 /* CONTAINERS */

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
    max-width: 1158px;
    padding-left: 24px;
    padding-right: 24px;
    }
}

/* RESETS */

body {
    font-family: "Raleway", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p { margin: 0; }

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

a:hover {
    color: #61EAC1;
}

/* HEADER */

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
        display: block;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.17;
        font-weight: 700;
        letter-spacing: 0.03em;
        color: #2e2f42;
        text-transform: uppercase;
}

span {
    color: #61EAC1;
}

.header-address {
    display: flex;
}

.nav-list {
    display: none;
}

.address-list{
    display: none;
}

.address-link {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.24;
    display: block;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
}

.header-svg {

}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .logo{
        margin-right: 120px;
    }
    
    .nav-list {
    display: flex;
    gap: 20px;
    }
    
    .address-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    }

    
    .header-button {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .header-button {
        display: none;
    }
    
    .nav-list {
        display: flex;
        gap: 20px;
        }
    
    .address-list {
        display: flex;
        gap: 20px;
        }
    
    .logo{
        margin-right: 120px;
    }
}