.navigation {
    display: none;
    flex-direction: row;
}

.navigationList {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.navigationOption {
    font-size: 20px;
}

.active {
    color: #3db397;
}

@media screen and (min-width: 768px) {
    .navigation{
        display: flex;
    }
}