.navigation {
    display: none;
    flex-direction: row;
}

.navigationList {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.navigationOption {
    font-size: 20px;
    transition-duration: .25s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: color;
}

.navigationOption:hover {
    color: #6fbdab;
}

.active {
    color: #3db397;
}

@media screen and (min-width: 768px) {
    .navigation{
        display: flex;
    }
}

